body{
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-align: center;
    background: #ccc;
    font-family: Montserrat;
}

 /* Nav Bar */
.container{
    display: grid;
    background: #eee;
    box-shadow: 0 7px 7px rgba(0,0,0,.2);
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 3px solid lightseagreen; 
}
.container .logo{
    font-size: 35px;
    color: lightseagreen;
    font-family: Yesteryear;
}
.container .logo span{
    font-size: 50px;
    color: #333;
}
.container nav{
    padding: 28px 0;
}
.container nav a{
    color: #555;
    margin: 0 16px;
    font-weight: bold;
    text-decoration: none;
}

/* Body */
.body{
    width: 90%;
    margin: 45px auto 0;
}